.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 70vh;
  height: 70vh;
}

#start-button {
  height: 50px;
  width: 50px;
}