body {
  max-height: 100vh;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 75px;
  background-color: #fff;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 54pt;
}

.container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-evenly;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 300px;
  height: 300px;
}

.cell {
  border: 1px solid black;
  border-radius: 0%;
  background-color: #fff;
  font-size: 50pt;
}

.cell:hover {
  background-color: lightgrey;
}

#player-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.btn {
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  color: #fff;
  font-size: 24pt;
  font-weight: 600;
  padding: 6px 16px;
  text-align: center;
}

.btn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.btn:hover {
  background-color: #2c974b;
}

.btn:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.btn:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

#btn:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

#announcement-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 211, 211, .6); 
  opacity: 0;
  transition: all 0.5 linear;
  z-index: -999999;

  display: flex;
  justify-content: center;
  align-items: center;
}

#announcement-container.visible {
  opacity: 1;
  z-index: 99999999;
}

#announcement {
  height: 40vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  font-size: 48pt;
}

#player-selection {
  font-size: 18pt;
}

td {
  width: 100px;
  height: 100px;
}
table {
  margin: 5px auto;
}
.vert {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.hori {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

@media screen and (max-width: 600px) {
  .game-container {
    width: 200px;
    height: 200px;
  };

  .game-container > * {
  }

  .cell {
    font-size: 16pt;
  }

  #player-selection {
    gap: 5px;
  }
  
  .btn {
    color: #fff;
    font-size: 20pt;
    padding: 2px 8px;
  }
}